<div class="card text-center">
    <div class="card-body">
        <div class="jumbotron">
            <h1 class="display-4">RRS - Terem foglaló rendszer</h1>
            <p class="lead">Kérlek jelentkezz be a foglalásaid megtekintéséhez, módosításához vagy új foglalás leadásához.</p>
            <hr class="my-4">
            <p>Amennyiben csak a foglalásokat szeretnéd megtekinteni, vagy közöttük keresni...</p>
            <p class="lead">
                <button class="btn btn-primary btn-lg" routerLink="/reservationsCalendar" routerLinkActive="active">Ugrás a foglalásokhoz</button>
            </p>
        </div>
    </div>
</div>