<app-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="fetchEvents()" (viewChange)="fetchEvents()">
</app-calendar-header>

<div *ngIf="ownEvents$ | async; else loading; let ownEvents">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [excludeDays]="excludeDays" [locale]="locale" [viewDate]="viewDate" [events]="ownEvents"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event.event)"
      (beforeViewRender)="beforeMonthViewRender($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [excludeDays]="excludeDays" [locale]="locale" [viewDate]="viewDate" [events]="ownEvents"
      (eventClicked)="eventClicked($event.event)" precision="minutes">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [locale]="locale" [viewDate]="viewDate" [events]="ownEvents" (eventClicked)="eventClicked($event.event)"
      [dayStartHour]="6" [dayEndHour]="22">>
    </mwl-calendar-day-view>
  </div>
</div>