<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Szemeszter "neve"</th>
      <th scope="col">Kezdete</th>
      <th scope="col">Vége</th>
      <th scope="col">Státusza</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let semester of semesters; let i = index"  (click)="openPopup(semester.id)">
      <th scope="row">{{i+1}}</th>
      <td>{{semester.name}}</td>
      <td>{{semester.startDate}}</td>
      <td>{{semester.endDate}}</td>
      <td>{{semester.opened | semesterStatusConvert}}</td>
    </tr>
  </tbody>
</table>