<div class="card form-card">
  <div class="card-header">
    Felhasználó hozzáadása:
  </div>
  <div class="card-block">
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
      <div class="form-group">
        <label for="username">Felhasználónév*</label>
        <input type="text" class="form-control" id="username" required formControlName="username">

        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            A felhasználónevet meg kell adni.
          </div>
          <div *ngIf="username.errors.minlength">
            A felhasználónévnek legalább 5 karakterből kell állnia.
          </div>
          <div *ngIf="username.errors.maxlength">
            A felhasználónév legfeljebb 30 karakterből állhat.
          </div>
          <div *ngIf="username.errors.isTaken">
            Ez a felhasznév már foglalt.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="name">Név*</label>

        <input type="text" class="form-control" id="name" required formControlName="name">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            A nevet meg kell adni.
          </div>
          <div *ngIf="name.errors.minlength">
            A névnek legalább 5 karakterből kell állnia.
          </div>
          <div *ngIf="name.errors.maxlength">
            A név legfeljebb 30 karakterből állhat.
          </div>
        </div>
      </div>

      <div class="cross-validation" [class.cross-validation-error]="userForm.errors?.passwordMisMatch && (userForm.touched || userForm.dirty)">
        <div class="form-group">
          <label for="password">Jelszó*</label>

          <input type="password" class="form-control" id="password" required formControlName="password">

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              A jelszót meg kell adni.
            </div>
            <div *ngIf="password.errors.minlength">
              A jelszónak legalább 5 karakterből kell állnia.
            </div>
            <div *ngIf="password.errors.maxlength">
              A jelszó legfeljebb 30 karakterből állhat.
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="confirmPassword">Jelszó újra*</label>

          <input type="password" class="form-control" id="confirmPassword" required formControlName="confirmPassword">

          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
            <div *ngIf="confirmPassword.errors.required">
              A jelszót meg kell adni.
            </div>
            <div *ngIf="confirmPassword.errors.minlength">
              A jelszónak legalább 5 karakterből kell állnia.
            </div>
            <div *ngIf="confirmPassword.errors.maxlength">
              A jelszó legfeljebb 30 karakterből állhat.
            </div>
          </div>

          <div *ngIf="userForm.errors?.passwordMisMatch && (userForm.dirty || userForm.touched)" class="cross-validation-error-message alert alert-danger">
            A megadott jelszavak nem egyeznek.
          </div>
        </div>
      </div>

      <div class="cross-validation" [class.cross-validation-error]="userForm.errors?.emailMisMatch && (userForm.touched || userForm.dirty)">
        <div class="form-group">
          <label for="email">E-mail cím*</label>

          <input type="email" class="form-control" id="email" required formControlName="email">

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Az e-mail címet meg kell adni.
            </div>
            <div *ngIf="email.errors.minlength">
              Az e-mail-nek legalább 5 karakterből kell állnia.
            </div>
            <div *ngIf="email.errors.maxlength">
              Az e-mail legfeljebb 50 karakterből állhat.
            </div>
            <div *ngIf="email.errors.email">
              A megadott e-mail cím formátuma nem megfelelő.
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="confirmEmail">E-mail cím újra*</label>

          <input type="email" class="form-control" id="confirmEmail" required formControlName="confirmEmail">

          <div *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched)" class="alert alert-danger">
            <div *ngIf="confirmEmail.errors.required">
              A megerősítő e-mail címet meg kell adni.
            </div>
            <div *ngIf="confirmEmail.errors.minlength">
              A megerősítő e-mail-nek legalább 5 karakterből kell állnia.
            </div>
            <div *ngIf="confirmEmail.errors.maxlength">
              A megerősítő e-mail legfeljebb 50 karakterből állhat.
            </div>
            <div *ngIf="confirmEmail.errors.email">
              A megadott megerősítő e-mail cím formátuma nem megfelelő.
            </div>
          </div>

          <div *ngIf="userForm.errors?.emailMisMatch && (userForm.dirty || userForm.touched)" class="cross-validation-error-message alert alert-danger">
            A megadott e-mail címek nem egyeznek.
          </div>
        </div>
      </div>

      <div class="btn-padding">
        <button type="submit" class="btn btn-success btn-space" [disabled]="!userForm.valid">Hozzáadás</button>
        <button type="button" class="btn btn-secondary btn-space" (click)="userForm.reset()">Törlés</button>
      </div>
    </form>
  </div>
</div>