<div class="card form-card">
  <div class="card-header">
    Foglalás típusának kiválasztása:
  </div>
  <div class="card-block">
      <div class="form-group row">
        <label for="type" class="col-sm-4 col-form-label">Típus*</label>
        <div class="col-sm-8">
          <select class="form-control" id="type">
            <option> --- </option>
            <option *ngFor="let type of types" (click)="selectType(type)"> {{type}} </option>
          </select>
        </div>
      </div>      
  </div>
</div>

<div *ngIf="selectedType == types[0]">
  <app-add-event-reservation></app-add-event-reservation>
</div>
<div *ngIf="selectedType == types[1]">
  <app-add-simple-reservation></app-add-simple-reservation>
</div>
<div *ngIf="selectedType == types[2]">
  <app-add-semester-reservation></app-add-semester-reservation>
</div>
