<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Felhasználónév</th>
      <th scope="col">Épület</th>
      <th scope="col">Terem</th>
      <th scope="col">Státusz</th>
      <th scope="col">Megjegyzés</th>
      <th scope="col">Tantárgy-kód</th>
      <th scope="col">Szemeszter</th>
      <th scope="col">Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{reservation.username}}</td>
      <td>{{reservation.building}}</td>
      <td>{{reservation.classroom}}</td>
      <td>{{reservation.status | statusConvert}}</td>
      <td>{{reservation.note | empty}}</td>
      <td>{{reservation.subjectCode}}</td>
      <td>{{reservation.semester}}</td>
      <td *ngIf="pending">
        <button type="button" class="btn btn-success btn-sm" (click)="accept(reservation.id)">Elfogadás</button>
        /
        <button type="button" class="btn btn-danger btn-sm" (click)="decline(reservation.id)">Elutasítás</button>
      </td>
      <td *ngIf="!pending">
          <button type="button" class="btn btn-secondary btn-sm" (click)="openDetails(reservation.id)">Részletek</button>
      </td>
    </tr>
  </tbody>
</table>