<div>
  <p class="dialog-title" mat-dialog-title>{{data.title}}</p>
  <hr>
  <mat-dialog-content>
    <div class="container" *ngIf="types[0] == data.type">
      <app-edit-class-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-edit-class-reservation-form>
    </div>
    <div class="container" *ngIf="types[1] == data.type">
      <app-edit-event-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-edit-event-reservation-form>
    </div>
    <div class="container" *ngIf="types[2] == data.type">
      <app-observe-class-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-observe-class-reservation-form>
    </div>
    <div class="container" *ngIf="types[3] == data.type">
      <app-observe-event-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-observe-event-reservation-form>
    </div>
    <div class="container" *ngIf="types[4] == data.type">
      <app-edit-building-form [buildingID]="data.id" (submitEvent)="onClose($event)"></app-edit-building-form>
    </div>
    <div class="container" *ngIf="types[5] == data.type">
      <app-edit-classroom-form [classroomID]="data.id" (submitEvent)="onClose($event)"></app-edit-classroom-form>
    </div>      
    <div class="container" *ngIf="types[6] == data.type">
      <app-edit-semester-form [semesterID]="data.id" (submitEvent)="onClose($event)"></app-edit-semester-form>
    </div>    
    <div class="container" *ngIf="types[7] == data.type">
      <app-edit-subject-form [subjectID]="data.id" (submitEvent)="onClose($event)"></app-edit-subject-form>
    </div>    
    <div class="container" *ngIf="types[8] == data.type">
      <app-edit-user-form [userID]="data.id" (submitEvent)="onClose($event)"></app-edit-user-form>
    </div>    
  </mat-dialog-content>
</div>