<app-filter-events-form
  (eventEmitter)="onFilter($event)"
></app-filter-events-form>

<hr />

<div *ngIf="isVisible">
  <!-- 
    Ha lapozás esetén szeretnénk az adatokat újra betölteni:
    (viewDateChange)="fetchEvents()"
    (viewChange)="fetchEvents()"
   -->
  <app-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
  >
  </app-calendar-header>

  <ng-template #loading>
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
      Események betöltése...
    </div>
  </ng-template>
  <!-- 
    Ha csak adott napokat szeretnénk megjeleníteni:
    [excludeDays]="excludeDays"
    [excludeDays]="excludeDays"
   -->
  <div *ngIf="(events$ | async); else: loading; let events">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [locale]="locale"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="eventClicked($event.event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [locale]="locale"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event.event)"
        precision="minutes"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [locale]="locale"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked($event.event)"
        [dayStartHour]="6"
        [dayEndHour]="22"
        [hourSegments]="4"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
