<div class="card text-center">
  <div class="card-body">
    <div class="jumbotron">
      <h1 class="display-4">RRS - Terem foglaló rendszer</h1>
      <p class="lead">
        Kérlek jelentkezz be a foglalásaid megtekintéséhez, módosításához vagy
        új foglalás leadásához.
      </p>
      <hr class="my-4" />
      <p>
        Amennyiben csak a foglalásokat szeretnéd megtekinteni, vagy közöttük
        keresni...
      </p>
      <p class="lead">
        <button
          class="btn btn-primary btn-lg"
          routerLink="/web/events/calendar"
          routerLinkActive="active"
        >
          Ugrás a foglalásokhoz
        </button>
      </p>
    </div>
  </div>
</div>

<div class="card text-center">
  <h5 class="card-header">Frissítés</h5>
  <div class="card-body">
    <h5 class="card-title">Üzenetek funkció</h5>
    <p class="card-text">
      A bejelentkezett felhasználók számára új, az üzenetek megtekintésére,
      kezelésére szolgáló funkció érthető el a menüsávban.
    </p>
  </div>
  <div class="card-footer text-muted">2018. 11. 09.</div>
</div>

<div class="card text-center">
  <h5 class="card-header">Frissítés</h5>
  <div class="card-body">
    <h5 class="card-title">Naptári nézet funkció</h5>
    <p class="card-text">
      Az oldal látogatói számára új funkció érhető el a "Foglalások" menüpont
      alatt.
    </p>
  </div>
  <div class="card-footer text-muted">2018. 10. 25.</div>
</div>

<div class="card text-center">
    <h5 class="card-header">Frissítés</h5>
    <div class="card-body">
      <h5 class="card-title">Saját foglalások funkció</h5>
      <p class="card-text">
          A bejelentkezett felhasználók számára elérhető az új "Foglalásaim" menüpont.
      </p>
    </div>
    <div class="card-footer text-muted">2018. 10. 19.</div>
  </div>