<div class="card">
  <div class="card-header">
    Épület hozzáadása:
  </div>
  <div class="card-block">
    <form [formGroup]="buildingForm" (ngSubmit)="addBuilding()"> 

      <div class="form-group row">
        <label for="buildingName" class="col-sm-4 col-form-label">Épület neve*</label>
        <div class="col-sm-8">
          <input 
            class="form-control" 
            type="text" 
            id="buildingName"
            [formControl]="buildingName">

          <div [hidden]="buildingName.valid || buildingName.untouched" class="alert alert-danger">
            <div>
              Probléma az épület nevével:
            </div>
            <div [hidden]="!buildingName.hasError('minlength')">
              Az épület nevének legalább 3 karakterből kell állnia.
            </div>
            <div [hidden]="!buildingName.hasError('required')">
              Az épület nevét meg kell adni.
            </div>
            <div [hidden]="!buildingName.hasError('maxlength')">
              Az épület neve maximum 30 karakterből állhat.
            </div>
          </div>

        </div>
      </div>
      <div class="btn-padding">
        <button type="submit" class="btn btn-primary" [disabled]="!buildingForm.valid">Hozzáadás</button>
      </div>
    </form>
  </div>
</div>