<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--Ha kicsi az oldal mérete:-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <div ngbDropdown class="d-inline-block">
        <span class="navbar-toggler-icon" id="dropdownBasic1" ngbDropdownToggle></span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <li *ngFor="let menuItem of menuItems; let i = index">
            <div *ngIf="menuItem.type=='Simple'"> 
              <div class="dropdown-divider" *ngIf="i!=0"></div>
              <button class="dropdown-item" routerLink="{{menuItem.routerLink}}" routerLinkActive="active">{{menuItem.name}}</button>
            </div>  

            <div *ngIf="menuItem.type=='Dropdown'">
              <div class="dropdown-divider"></div>
              <li *ngFor="let dropdownMenuItem of menuItem.menuItems">
                <button class="dropdown-item" routerLink="{{dropdownMenuItem.routerLink}}" routerLinkActive="active">{{dropdownMenuItem.name}}</button>
              </li>
            </div>
          </li>

          <li>
            <div class="dropdown-divider"></div>
            <div *ngIf="!isLoggedIn()">
              <button class="dropdown-item" routerLink="/login">Bejelentkezés</button>
            </div>
            <div *ngIf="isLoggedIn()">
              <button class="dropdown-item" routerLink="/dashboard" (click)="logOut()">Kijelentkezés</button>
            </div>
            <div *ngIf="!isLoggedIn()">
              <button class="dropdown-item" routerLink="/register">Regisztráció</button>
            </div>
          </li>

        </div>
      </div>
  </button>
  
  <!--Normális méret esetén:-->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">RRS</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item" *ngFor="let menuItem of menuItems">
        
        <div *ngIf="menuItem.type=='Simple'">
            <button class="btn btn-sm btn-outline-secondary" routerLink="{{menuItem.routerLink}}" routerLinkActive="active">{{menuItem.name}}</button>
        </div>
        
        <div *ngIf="menuItem.type=='Dropdown'">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{menuItem.name}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <li *ngFor="let dropdownMenuItem of menuItem.menuItems">
                      <button class="dropdown-item" routerLink="{{dropdownMenuItem.routerLink}}" routerLinkActive="active">{{dropdownMenuItem.name}}</button>
                  </li>
                </div>
              </div>
        </div>
        
      </li>
    </ul>
        
    <div class="nav-item" *ngIf="!isLoggedIn()">
      <button class="btn btn-sm btn-outline-info my-2 my-sm-0" routerLink="/login">Bejelentkezés</button>
    </div>
    <div class="nav-item" *ngIf="isLoggedIn()">
      <span class="navbar-text">
            Bejelentkezve mint {{getName() | uppercase}}
      </span>
      <button class="btn btn-sm btn-outline-danger my-2 my-sm-0" routerLink="/dashboard" (click)="logOut()">Kijelentkezés</button>
    </div>
  </div>

  <div class="nav-item" *ngIf="!isLoggedIn()">
    <button class="btn btn-sm btn-outline-info my-2 my-sm-0" routerLink="/register">Regisztráció</button>
  </div>

</nav>