<div class="card form-card">
  <div class="card-header">
    Bejelentkezés:
  </div>
  <div class="card-block">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Felhasználónév:</label>
          
          <input type="text" class="form-control" id="username" required [formControl]="username">

          <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
            <div>
              Probléma a felhasználónévvel:
            </div>
            <div [hidden]="!username.hasError('required')">
              A felhasználónevet meg kell adni.
            </div>
            <div [hidden]="!username.hasError('minlength')">
              A felhasználónévnek legalább 5 karakterből kell állnia.
            </div>
            <div [hidden]="!username.hasError('maxlength')">
              A felhasználónév legfeljebb 30 karakterből állhat.
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="password">Jelszó:</label>
          
          <input type="password" class="form-control" id="password" required [formControl]="password">

          <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
            <div>
              Probléma a jelszóval:
            </div>
            <div [hidden]="!password.hasError('required')">
              A jelszót meg kell adni.
            </div>
            <div [hidden]="!password.hasError('minlength')">
              A jelszónak legalább 5 karakterből kell állnia.
            </div>
            <div [hidden]="!password.hasError('maxlength')">
              A jelszó legfeljebb 30 karakterből állhat.
            </div>
          </div>
          
        </div>
        <div class="btn-padding">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Belépés</button>
        </div>
      </form>
  </div>
</div>