<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Épület</th>
      <th scope="col">Név</th>
      <th scope="col">PC</th>
      <th scope="col">Projektor</th>
      <th scope="col">Székek száma</th>
      <th scope="col">Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{room.building}}</td>
      <td>{{room.name}}</td>
      <td>{{room.hasPC | booleanConvert}}</td>
      <td>{{room.hasProjector | booleanConvert}}</td>
      <td>{{room.chairs}}</td>
      <td>
        <i
          class="fa fa-pencil-square-o fa-lg"
          title="Szerkesztés"
          (click)="openPopup(room.id)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>