<div>
  <p class="dialog-title" mat-dialog-title>{{data.title}}</p>
  <hr>
  <mat-dialog-content>
    <div class="container" *ngIf="types[0] == data.type">
      <app-edit-class-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-edit-class-reservation-form>
    </div>
    <div class="container" *ngIf="types[1] == data.type">
      <app-edit-event-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-edit-event-reservation-form>
    </div>
    <div class="container" *ngIf="types[2] == data.type">
      <app-observe-class-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-observe-class-reservation-form>
    </div>
    <div class="container" *ngIf="types[3] == data.type">
      <app-observe-event-reservation-form [reservationID]="data.id" (submitEvent)="onClose($event)"></app-observe-event-reservation-form>
    </div> <!-- Használat pl: (submitEvent)="deletePhone($event)"-->
  </mat-dialog-content>
</div>