<div class="card text-center">
    <div class="card-header">
        RRS - Terem foglaló rendszer
    </div>
    <div class="card-body">
        <h5 class="card-title">Üdvözöllek az oldalon!</h5>
        <div class="card-text">
            <p>Kérlek jelentkezz be a foglalásaid megtekintéséhez, módosításához vagy új foglalás leadásához.</p>
            <hr>
            <p>Amennyiben csak a foglalásokat szeretnéd megtekinteni, vagy közöttük keresni válaszd a 'Foglalások' menüpontot.</p>
        </div>
    </div>
    <div class="card-footer text-muted">
        2018. 03. 06. - Kedd
    </div>
</div>