<form [formGroup]="reservationForm" (ngSubmit)="addReservation()">
  <div class="form-group row">
    <label for="name" class="col-sm-4 col-form-label">Esemény neve*</label>
    <div class="col-sm-8">
      <input
        class="form-control"
        type="text"
        id="name"
        required
        [formControl]="name"
      />

      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="name.errors.required">Az esemény nevét meg kell adni.</div>
        <div *ngIf="name.errors.minlength">
          Az esemény nevének legalább 3 karakterből kell állnia.
        </div>
        <div *ngIf="name.errors.maxlength">
          Az esemény neve maximum 30 karakterből állhat.
        </div>
        <div *ngIf="name.errors.isTaken">
          Ilyen névvel már létezik foglalás.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="building" class="col-sm-4 col-form-label">Épület neve*</label>
    <div class="col-sm-8">
      <select
        class="form-control"
        id="building"
        required
        [formControl]="building"
        (change)="getRoomsByBuildingName($event.target.value)"
      >
        <option> --- </option>
        <option *ngFor="let building of buildings">
          {{ building.name }}
        </option>
      </select>

      <div
        *ngIf="building.invalid && (building.dirty || building.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="building.errors.required">
          Az épület nevét meg kell adni.
        </div>
        <div *ngIf="building.errors.isUnique">
          Ilyen nevű épület nem létezik.
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="building.valid" class="form-group row">
    <label for="room" class="col-sm-4 col-form-label">Terem neve*</label>
    <div class="col-sm-8">
      <select class="form-control" id="room" required [formControl]="room">
        <option> --- </option>
        <option *ngFor="let room of rooms"> {{ room.name }} </option>
      </select>

      <div
        *ngIf="room.invalid && (room.dirty || room.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="room.errors.required">A terem nevét meg kell adni.</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="date" class="col-sm-4 col-form-label">A foglalás dátuma*</label>
    <div class="col-sm-8">
      <input
        class="form-control"
        type="date"
        id="date"
        aria-describedby="dayHelp"
        required
        [formControl]="date"
      />
      <small [hidden]="date.untouched" id="dayHelp" class="form-text text-muted"
        >A választott nap: {{ getDayOfWeek(date.value) }}
      </small>
      <div
        *ngIf="date.invalid && (date.dirty || date.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="date.errors.required">
          A foglalás dátumát meg kell adni.
        </div>
        <div *ngIf="date.errors.isPastDate">
          A foglalás dátuma nem lehet múltbeli.
        </div>
      </div>
    </div>
  </div>

  <div
    class="cross-validation"
    [class.cross-validation-error]="
      reservationForm.errors?.invalidTimes &&
      (reservationForm.touched || reservationForm.dirty)
    "
  >
    <div class="form-group row">
      <label for="startTime" class="col-sm-4 col-form-label"
        >Kezdési idő*</label
      >
      <div class="col-sm-8">
        <input
          class="form-control"
          type="text"
          id="startTime"
          required
          [formControl]="startTime"
        />

        <div
          *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="startTime.errors.required">
            A kezdési időt meg kell adni.
          </div>
          <div *ngIf="startTime.errors.notTime">Hibás formátum (óó:pp).</div>
          <div *ngIf="startTime.errors.minlength || startTime.errors.maxlength">
            Az időnek 5 karakterből kell állnia.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="endTime" class="col-sm-4 col-form-label"
        >Befejezési idő*</label
      >
      <div class="col-sm-8">
        <input
          class="form-control"
          type="text"
          id="endTime"
          required
          [formControl]="endTime"
        />

        <div
          *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="endTime.errors.required">
            A befejezési időt meg kell adni.
          </div>
          <div *ngIf="endTime.errors.notTime">Hibás formátum (óó:pp).</div>
          <div *ngIf="endTime.errors.minlength || endTime.errors.maxlength">
            Az időnek 5 karakterből kell állnia.
          </div>
        </div>

        <div
          *ngIf="
            reservationForm.errors?.invalidTimes &&
            (reservationForm.dirty || reservationForm.touched)
          "
          class="cross-validation-error-message alert alert-danger"
        >
          A kezdési idő meg kell hogy előzze a befejezési időt.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="note">Megjegyzés:</label>
    <textarea
      class="form-control"
      rows="5"
      id="note"
      [formControl]="note"
    ></textarea>
  </div>

  <div class="btn-padding">
    <button
      type="submit"
      class="btn btn-success btn-space"
      [disabled]="!reservationForm.valid"
    >
      Hozzáadás
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-space"
      (click)="reservationForm.reset()"
    >
      Törlés
    </button>
  </div>
</form>
