<div class="container">
  <h3>Tantermek:</h3>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Épület</th>
        <th scope="col">Név</th>
        <th scope="col">PC</th>
        <th scope="col">Projektor</th>
        <th scope="col">Székek száma</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms; let i = index" (click)="onSelect(room)">
        <th scope="row">{{i+1}}</th>
        <td>{{room.building}}</td>
        <td>{{room.name}}</td>
        <td>{{ convertToString(room.hasPC) }}</td>
        <td>{{ convertToString(room.hasProjector) }}</td>
        <td>{{room.chairs}}</td>
      </tr>
    </tbody>
  </table>
</div>
