<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Felhasználónév</th>
      <th scope="col">Épület</th>
      <th scope="col">Terem</th>
      <th scope="col">Státusz</th>
      <th scope="col">Megjegyzés</th>
      <th scope="col">Név</th>
      <th scope="col">Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ reservation.username }}</td>
      <td>{{ reservation.building }}</td>
      <td>{{ reservation.classroom }}</td>
      <td>{{ reservation.status | statusConvert }}</td>
      <td>{{ reservation.note | empty }}</td>
      <td>{{ reservation.name }}</td>
      <td *ngIf="pending">
        <i
          class="fa fa-check-circle fa-lg"
          title="Elfogadás"
          (click)="accept(reservation)"
        ></i>
        <i
          class="fa fa-ban fa-lg"
          title="Elutasítás"
          (click)="decline(reservation)"
        ></i>
      </td>
      <td *ngIf="!pending">
        <i
          class="fa fa-info-circle fa-lg"
          title="Részletek"
          (click)="openDetails(reservation.id)"
        ></i>
        <i
          class="fa fa-pencil-square-o fa-lg"
          title="Szerkesztés"
          (click)="openEdit(reservation.id)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
