<div class="card form-card">
  <div class="card-header">
    Felhasználó hozzáadása:
  </div>
  <div class="card-block">
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
      <div class="form-group">
        <label for="username">Felhasználónév*</label>

        <input type="text" class="form-control" id="username" required [formControl]="username">

        <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
          <div>
            Probléma a felhasználónévvel:
          </div>
          <div [hidden]="!username.hasError('required')">
            A felhasználónevet meg kell adni.
          </div>
          <div [hidden]="!username.hasError('minlength')">
            A felhasználónévnek legalább 5 karakterből kell állnia.
          </div>
          <div [hidden]="!username.hasError('maxlength')">
            A felhasználónév legfeljebb 30 karakterből állhat.
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="name">Név*</label>

        <input type="text" class="form-control" id="name" required [formControl]="name">

        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
          <div>
            Probléma a névvel:
          </div>
          <div [hidden]="!name.hasError('required')">
            A nevet meg kell adni.
          </div>
          <div [hidden]="!name.hasError('minlength')">
            A névnek legalább 5 karakterből kell állnia.
          </div>
          <div [hidden]="!name.hasError('maxlength')">
            A név legfeljebb 30 karakterből állhat.
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="password">Jelszó*</label>

        <input type="password" class="form-control" id="password" required [formControl]="password">

        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
          <div>
            Probléma a jelszóval:
          </div>
          <div [hidden]="!password.hasError('required')">
            A jelszót meg kell adni.
          </div>
          <div [hidden]="!password.hasError('minlength')">
            A jelszónak legalább 5 karakterből kell állnia.
          </div>
          <div [hidden]="!password.hasError('maxlength')">
            A jelszó legfeljebb 30 karakterből állhat.
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="passwordAgain">Jelszó újra*</label>

        <input type="password" class="form-control" id="passwordAgain" required [formControl]="passwordAgain">

        <div [hidden]="passwordAgain.valid || passwordAgain.untouched" class="alert alert-danger">
          <div>
            Probléma a jelszóval:
          </div>
          <div [hidden]="!passwordAgain.hasError('required')">
            A jelszót meg kell adni.
          </div>
          <div [hidden]="!passwordAgain.hasError('minlength')">
            A jelszónak legalább 5 karakterből kell állnia.
          </div>
          <div [hidden]="!passwordAgain.hasError('maxlength')">
            A jelszó legfeljebb 30 karakterből állhat.
          </div>
          <div [hidden]="!passwordAgain.mismatchingPasswords">
            A megadott jelszavak nem egyeznek.
          </div>

        </div>

      </div>

      <div class="form-group">
        <label for="email">E-mail cím*</label>

        <input type="email" class="form-control" id="email" required [formControl]="email">

        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
          <div>
            Probléma az emaillel:
          </div>
          <div [hidden]="!email.hasError('required')">
            Az emailt meg kell adni.
          </div>
          <div [hidden]="!email.hasError('minlength')">
            Az e-mail-nek legalább 5 karakterből kell állnia.
          </div>
          <div [hidden]="!email.hasError('maxlength')">
            Az e-mail legfeljebb 50 karakterből állhat.
          </div>
        </div>

      </div>
      <div class="btn-padding">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Hozzáadás</button>
      </div>
    </form>
  </div>
</div>