<div class="container" *ngIf="hasReservations">
    <h2>Saját foglalásaim:</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Épület</th>
            <th scope="col">Terem</th>
            <th scope="col">Tárgykód/Tárgynév</th>
            <th scope="col">Státusz</th>
            <th scope="col">Megjegyzés</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{reservation.classroom.building}}</td>
            <td>{{reservation.classroom.name}}</td>
            <td>{{reservation.subject.code}} | {{reservation.subject.name}}</td>
            <td>{{reservation.status}}</td>
            <td>{{reservation.note}}</td>
          </tr>
        </tbody>
      </table>
  </div>

<div *ngIf="!hasReservations">
    <div class="card border-dark mb-3">
      <div class="card-header">
        <strong>Jelenleg nincs foglalásod a rendszerben!</strong>
      </div>
      
      <div class="card-body">
        <p>Új foglalást az "Űrlapok" menüpont alatt az "Új foglalás" gombra kattintva adhatsz le!</p>
      </div>
  
      <div class="card-footer">
  
      </div>
    </div>  
</div>