body {
  background-image: url("./assets/bg2.jpg");
}

.card {
  margin: auto;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-card {
  width: 60%;
}

.form-group {
  padding-top: 7px;
  padding-right: 30px;
  padding-left: 10px;
}

.btn-padding {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.btn-space {
  margin-right: 10px;
}

/*
body {
    margin: auto;
    width: 70%;
}
*/

h2 {
  padding-top: 15px;
  margin: auto;
  text-align: left;
}

/* Hibaüzenet: */
.alert {
  margin-top: 10px;
}

/* Táblázatok: */
.table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
}

/* Cards: */
.card-block {
  padding: 10px 10px 10px;
}

.card-header {
  font-size: 1.3em;
  font-weight: bold;
}

/* Navbar Buttons: */
.nav-item {
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-text {
  padding-right: 5px;
  padding-left: 5px;
}

/* Navabr border: */
.navbar {
  border-bottom: 1px solid;
}

/* Table name: */
.table-name {
  font-size: 1.5em;
  font-weight: bold;
}

/* Page header: */
.page-header {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

/* Dialog title: */
.dialog-title {
  font-size: 1.5em;
  font-weight: bold;
}

/* Form valid-invalid */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.cross-validation-error input {
  border-left: 5px solid red;
}

/* Calendar */
.calendar {
  margin: auto;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
